<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>View Data</title>
</head>
<body>
	<center>
		<h1>View Data</h1>
		<table border="1">
			<tr>
				<th>EnquiryId</th>
				<th>CustomerName</th>
				<th>JobType</th>
				<th>LoanAmount</th>
				<th>InterestRate</th>
				<th>Approved</th>
			</tr>
			<tr th:each="customer:${customers}">

				<td th:text="${customer.enquiryId}">EnquiryId</td>
				<td th:text="${customer.customerName}">CustomerName</td>
				<td th:text="${customer.jobType}">JobType</td>
				<td th:text="${customer.loanAmount}">LoanAmount</td>
				<td th:text="${customer.interestRate}">InterestRate</td>

				<td
					th:if="${customer.approved == 'recomendedByRole2' or customer.approved=='Recomended by Role2 for Role3'  and customer.interestRate>=12 and customer.interestRate<13 }"><a
					th:href="@{/api/approve-by-role3/{id}(id=${customer.enquiryId})}">Approve</a></td>
<td
					th:if="${customer.approved == 'Approved By Role3'}">Approved</td>
					<td
					th:if="${customer.approved == 'Recomended by Role2 for Role3' and customer.interestRate<12}"><a
					th:href="@{/api/approve-by-role3/{id}(id=${customer.enquiryId})}">Recomend to Role4</a></td>
					<td
					th:if="${customer.approved == 'Recomended by Role3'}">Recomended to Role4</td>
					<td th:if="${customer.approved == 'Approved by Role4'}">Approved by Role4</td>

			</tr>

		</table>
	</center>


</body>
</html>
