<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form name="register" th:action="@{/api/register}" onsubmit="return validateForm()" method="post">
		<label for="name"><b>Customer Name</b></label> <input
			placeholder="Enter Customer Name" name="customerName" id="name" type="text" required="required" min=6 max=25>
		<label for="type"><b>Job Type</b></label> <select name="jobType"
			id="type">
			<option value="self employed">Self Employed</option>
			<option value="salaried">Salaried</option>
		</select> 
		<label for="amount"><b>Loan amount</b></label> <input 
			placeholder="Enter Loan Amount" name="loanAmount" id="amnt"  required="required" >
		<label for="rate"><b>Interest Rate</b></label> <input 
			placeholder="Enter Interest Rate" name="interestRate" id="rate" required="required"s>
			<button class="btn btn-lg btn-primary btn-block signup_btn"
							type="submit">Submit</button>
	</form>
</body>
</html>
